body {
  background-color: rgb(150, 206, 224);
}

.logo {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.about {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}
